# Iterative Statements
- Write solution of each question in the cell given below the corresponsing question.

#### 1. Tom and Bob are playing a game of dice. Each time a multiple of two comes up Tom gets a point and if a multiple of 3 comes up bob gets a point. If a multiple of both comes up then a point is deducted from both. Write a program to take a list as input consisting of 10 outcomes of the dice throw. Print the scores of both Tom and bob and the winner.

In [79]:
d= input("Enter 10 dice outcomes with spaces: ").split()
d=[int(i) for i in d]
t=0
j=0
for i in d:
    if i%2==0 and i%3==0:
        t-=1
        j-=1
        
    elif i%2==0:
        t+=1
    elif i%3==0:
        j+=1
        
print("Score of tom is: ", t)
print("Score of bob is: ", j)

Enter 10 dice outcomes with spaces: 2 4 4 3 2 4 6 1 6 5
Score of tom is:  3
Score of bob is:  -1

In [74]:
import random

[random.choice([1,2,3,4,5,6]) for i in range(10)]

[2, 4, 4, 3, 2, 4, 6, 1, 6, 5]

##### 2. Write a program to take a list of 10 numbers as input in single line and find out the largest element.

In [6]:
a=input("Enter 10 numbers with spaces in between them: ").split()    #input
a=[int(i) for i in a]    #typecasting
print("The largest element is",max(a))    #output

Enter 10 numbers with spaces in between them: 13 96 06 94 615 1588 265 153 660 145
The largest element is 1588

#### 3. Write a program to take a number as input and find out whether it is prime or not.

In [16]:
def prime(n):
    x=int(n/2 +1)
    f=0
    for i in range(2,x):
        if n%i==0:
            f=1
            break
    
    if f==1:
        print(n,"is not a Prime number")
        
    else:
        print(n,"is a Prime number")
    
a= int(input("Enter a number to check if it's prime: "))
prime(a)

Enter a number to check if it's prime: 45
45 is not a Prime number

#### 4. Take a list and a number as input, print all consecutive pairs of two numbers from the list having sum equal to the given number.

In [52]:
a=input("Enter the elements with space: ").split()
a=[int(i) for i in a]
n= int(input ("Enter a  number: "))

for i in range (len(a)):
    for j in range(len(a)):
        if ((n-a[i]) ==a[j]):
            if i==j:
                continue
            print(a[i], a[j])

Enter the elements with space: 45 81 36 64 40 60 50
Enter a  number: 100
36 64
64 36
40 60
60 40

#### 5. Take a string as input and find out the number of words with even length and number of words with odd length.

In [63]:
a=input("Enter the elements with space: ").split()
even=[i for i in a if len(i)%2==0]
odd=[i for i in a if len(i)%2!=0]

print("Number of words with even length: ", len(even))
print("Number of words with odd length: ", len(odd))

Enter the elements with space: hi my name is aman gupta
Number of words with even length:  5
Number of words with odd length:  1

#### 6. Write a program to sort a given list using selection sort algorithm. (study selection sort and implement)

In [10]:
x= input("Enter  elements of the list with spaces between them: ").split()
a= [int(i) for i in x]

print("Before sorting: ",a)
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]> a[j]:
            a[i], a[j] = a[j], a[i]

print("After sorting: ",a)

Enter  elements of the list with spaces between them:  24 65 75 98 21 76

Before sorting:  [24, 65, 75, 98, 21, 76]
After sorting:  [21, 24, 65, 75, 76, 98]

#### 7. Write a program to sort a given list using bubble sort algorithm. (Study bubble sort and implement)

In [67]:
x= input("Enter  elements of the list with spaces between them: ").split()
a= [int(i) for i in x]

print("Before sorting: ",a)
for i in range(len(a)):
    for j in range(len(a)-i-1):
        if a[j]> a[j+1]:
            a[j], a[j+1] = a[j+1], a[j]

print("After sorting: ",a)

Enter  elements of the list with spaces between them: 24 65 75 98 21 76
Before sorting:  [24, 65, 75, 98, 21, 76]
After sorting:  [21, 24, 65, 75, 76, 98]

#### 8. Take a string and a word and input. Find the frequenecy of occurrence of the word in the given string. (Without using any inbuilt function)

In [80]:
a=input("Enter the elements with space: ").split()
w=input("Enter a word: ")
c=0
for i in a:
    if i == w:
        c+=1
        
print("frequenecy of occurrence of the {0} in the given string is {1} times". format(w,c))

Enter the elements with space: the quick brown fox jumps over the lazy dog
Enter a word: the
frequenecy of occurrence of the the in the given string is 2 times

#### 9. Write a program to print the following pattern:

In [ ]:
'''
5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1
'''
print()

In [40]:
for i in range(5,0,-1):
    print(" "*(5-i),end="") 
    for j in range(i,0,-1):
        print(j, end="")
    print()

54321
 4321
  321
   21
    1

#### 10. Write a program to print the following pattern:

In [ ]:
'''
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
'''
print()

In [42]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j, end="")
        
    print()

54321
4321
321
21
1